header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 30vh;  
    background-color: #27ee73;
}

form {
   position: relative;
   width: 500px;
   max-width: 100%;
}

form > input {
    padding: 2.5%;
    width: 100%;
    font-size: 0.92em;
    border: none;
    border-radius: 50px;   
}

h1 {
    margin-bottom: 1.25%;
}

form > button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2.01%;
    border: none;
    border-radius: 50px;
    width: 30%;
    font-size: .95em;
    background-color: #BA55D3;
    color: #fff;
    transition: 0.2s;
}

button:hover {
    transform: scale(0.95);
}

button:active {
    opacity: 0.8;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    max-height: 100%;
    background-color: #DCDCDC;
}

.table-elements {
    list-style: none;
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    align-content: center;
    background-color: #fff;
}

.table-elements-li {
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid #DCDCDC;    
}

.table-elements-li:nth-child(11) {
    border: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4%;
    background-color: #27ee73;
    color: #fff;
}

@media (max-width: 630px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    form > button {
        position: relative;
        margin: 20px;     
    }
}