@import url(_reset.css);
@import url(_variaveis.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--lightGreen);
  color: var(--secondaryColor);
  /* overflow-x: hidden; */
}
