.clean {
  display: none;
  position: relative;
  left: 71%;
  bottom: 33%;
  z-index: 2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--secondaryColor);
  border: none;
  color: var(--lightGreen);
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 280px) {
  .clean {
    font-size: 1rem;
    width: 40px;
    height: 40px;
    left: 73%;
    bottom: 30%;
  }
}

@media (min-width: 390px) {
  .clean {
    left: 73%;
    bottom: 28%;
  }
}

@media (min-width: 414px) {
  .clean {
    left: 73%;
    bottom: 28%;
  }
}

@media (min-width: 540px) {
  .clean {
    left: 77%;
    bottom: 32%;
  }
}

@media (min-width: 720px) {
  .clean {
    position: absolute;
    top: 15%;
    left: 70%;
    margin: 1.2rem auto;
    border-radius: 0;
    width: 15%;
    height: 3rem;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 1s linear;
  }

  .clean:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
  }
}