.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.icon-list {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding-right: 0.3rem;
}

.icon__item {
  width: 30%;
}

.icons-list__img {
  width: 50%;
}

@media (min-width: 720px) {
  .icon__item {
    width: 15%;
  }
}

@media (min-width: 970px) {
  .footer {    
    flex-direction: column;    
  }

  .footer p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .icon__item {
    text-align: center;
  }
}