.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.icon-list {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding-right: 0.3rem;
}

.icon__item {
  width: 30%;
}

.icons-list__img {
  width: 50%;
}
