.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.icon-list {
  width: 40%;
  text-align: right;
  padding-right: 0.3rem;
}

.icons-list__img {
  width: 30%;
}
