.main {
  width: 100vw;
  height: 75vh;
  padding: 0.5rem;
  margin-top: 0.3rem;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.spinner {
  display: block;
  margin: 20rem auto;
  height: 60px;
  width: 60px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--secondaryColor);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.multiplication-tableForm {
  margin-top: 1rem;
}

.multiplication-tableForm input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondaryColor);
  border: none;
  height: 3rem;
  width: 80vw;
  color: var(--lightGreen);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.multiplication-tableForm input::placeholder {
  color: var(--lightGreen);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.table-elements {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: var(--lightGray);
  border-bottom-right-radius: 60px;
  border-bottom: 2px solid var(--secondaryColor);
  padding: 0.5rem;
}

.table-elements li {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3rem;
}

.table-elements li:last-child {
  margin-bottom: 0;
}

.submit {
  display: block;
  margin: 1.2rem auto;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 3rem;
  width: 60%;
  height: 10%;
  color: var(--lightGreen);
  font-weight: bold;
  font-size: 1.2rem;
}

.submit:active {
  opacity: 0.9;
}

@media (min-width: 720px) {
  .multiplication-tableForm {
    position: relative;
    max-width: 100%;
  }

  .submit {
    position: absolute;
    right: 10%;
    top: 29%;
    border-radius: 0;
    width: 20%;
    height: 3rem;
    margin: 0;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
  }
}