.main {
  width: 100vw;
  height: 75vh;
  padding: 0.5rem;
  margin-top: 0.3rem;
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
}

.multiplication-tableForm {
  margin-top: 1rem;
}

.multiplication-tableForm input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondaryColor);
  border: none;
  height: 3rem;
  width: 80vw;
  color: var(--lightGreen);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.multiplication-tableForm input::placeholder {
  color: var(--lightGreen);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.table-elements {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: var(--lightGray);
  border-bottom-right-radius: 60px;
  border-bottom: 2px solid var(--secondaryColor);
  padding: 0.5rem;
}

.table-elements li {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3rem;
}

.table-elements li:last-child {
  margin-bottom: 0;
}

.main button {
  display: block;
  margin: 1.2rem auto;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 3rem;
  width: 60%;
  height: 10%;
  color: var(--lightGreen);
  font-weight: bold;
  font-size: 1.2rem;
}

.main button:active {
  opacity: 0.9;
}
